# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore osmnx/cache
cache/

# Ignore geojsons to save space
*.geojson

# Ignore Python cache
__pycache__/

# Ignore venv
.venv/

# misc
.idea/